{% raw %}{% extends "app/account_base.html" %}{% endraw %}
{% raw %}{% load static i18n %}{% endraw %}

{% raw %}{% block title %}{% trans "Account" %}{% endblock %}{% endraw %}

{% raw %}{% block breadcrumb %}{% endraw %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% raw %}{% url "app:home" %}{% endraw %}"><i class="ni ni-app"></i></a></li>
    <li class="breadcrumb-itemactive" aria-current="page">{% raw %}{% trans "Account" %}{% endraw %}</li>
  </ol>
</nav>
{% raw %}{% endblock %}{% endraw %}

{% raw %}{% block account_content %}{% endraw %}
<div class="col-xl-8">
  <div class="card bg-secondary shadow">
    <div class="card-header bg-transparent">
          <h3 class="mb-0">Account page</h3>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
              <p>This is the main entrypoint for your users account page.</p>
              <p>You should add something useful here.</p>
            </div>
          </div>

        </div>
  </div>
</div>


{% raw %}{% endblock account_content %}{% endraw %}

