{% raw %}{% extends "app/account_base.html" %}{% endraw %}
{% raw %}{% load static i18n crispy_forms_tags socialaccount %}{% endraw %}

{% raw %}{% block title %}{% trans "Third party logins" %}{% endblock %}{% endraw %}

{% raw %}{% block breadcrumb %}{% endraw %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% raw %}{% url "app:home" %}{% endraw %}"><i class="ni ni-app"></i></a></li>
    <li class="breadcrumb-item"><a href="{% raw %}{% url "app:users:detail" %}{% endraw %}">{% raw %}{% trans "Account" %}{% endraw %}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{% raw %}{% trans "Third party logins" %}{% endraw %}</li>
  </ol>
</nav>
{% raw %}{% endblock %}{% endraw %}

{% raw %}{% get_providers as socialaccount_providers %}{% endraw %}

{% raw %}{% block account_content %}{% endraw %}

<div class="col-xl-8 pb-4">
  <div class="card bg-secondary shadow">
    <div class="card-header bg-transparent">
      <h3 class="mb-0">{% raw %}{% trans "Third party logins" %}{% endraw %}</h3>
    </div>
    <div class="card-body">
      <h6 class="heading-small text-muted mb-4">{% raw %}{% trans "The following third party logins are associated with your account:" %}{% endraw %}</h6>
      <div class="pl-4">
        <div class="row">
          {% raw %}{% if form.accounts %}{% endraw %}
          <form method="post" action="{% raw %}{% url 'socialaccount_connections' %}{% endraw %}">
            {% raw %}{% csrf_token %}{% endraw %}

            <fieldset>
              {% raw %}{% if form.non_field_errors %}{% endraw %}
              <div id="errorMsg">{% raw %}{{ form.non_field_errors }}{% endraw %}</div>
              {% raw %}{% endif %}{% endraw %}

              {% raw %}{% for base_account in form.accounts %}{% endraw %}
              {% raw %}{% with base_account.get_provider_account as account %}{% endraw %}
              <div class="custom-control custom-radio mb-2">
                <input class="custom-control-input" id="id_account_{% raw %}{{ base_account.id }}{% endraw %}" type="radio" name="account"
                         value="{% raw %}{{ base_account.id }}{% endraw %}"/>
                <label class="custom-control-label" for="id_account_{% raw %}{{ base_account.id }}{% endraw %}">
                  {% raw %}{{ account }}{% endraw %}
                  <span class="badge badge-dark">{% raw %}{{account.get_brand.name}}{% endraw %}</span>

                </label>
              </div>
              {% raw %}{% endwith %}{% endraw %}
              {% raw %}{% endfor %}{% endraw %}

              <div class="pt-4 pb-1">
                <button type="submit" class="btn btn-danger">{% raw %}{% trans 'Remove' %}{% endraw %}</button>
              </div>

            </fieldset>

          </form>

          {% raw %}{% else %}{% endraw %}
          <p>{% raw %}{% trans 'You currently have no social network accounts connected to this account.'%}{% endraw %}</p>
          {% raw %}{% endif %}{% endraw %}
        </div>
      </div>
      <hr class="my-4 pl--5">
      <h6 class="heading-small text-muted mb-4">{% raw %}{% trans 'Add a third party login' %}{% endraw %}</h6>

          <div class="row pl-4">
            <div>

              {% raw %}{% include "socialaccount/snippets/provider_list.html" with process="connect" %}{% endraw %}


            {% raw %}{% include "socialaccount/snippets/login_extra.html" %}{% endraw %}
              </div>
          </div>



    </div>
  </div>
</div>
{% raw %}{% endblock %}{% endraw %}
