{% raw %}{% extends "app/base_blank.html" %}{% endraw %}

{% raw %}{% load i18n %}{% endraw %}
{% raw %}{% load crispy_forms_tags %}{% endraw %}
{% raw %}{% load static %}{% endraw %}

{% raw %}{% block head_title %}{% trans "Sign Up" %}{% endblock %}{% endraw %}

{% raw %}{% block content %}{% endraw %}
  <div class="header bg-gradient-primary py-7 py-lg-8">
    <div class="container">
      <div class="header-body text-center mb-7">
        <div class="row justify-content-center">
          <div class="col-lg-5 col-md-6">
            <h1 class="text-white">Welcome! # todo text</h1>
            <p class="text-lead text-light">Use these awesome forms to login or create new account in your project for
              free. #Todo text</p>
          </div>
        </div>
      </div>
    </div>
    <div class="separator separator-bottom separator-skew zindex-100">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
           xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </div>

  <div class="container mt--8 pb-5">
    <div class="row justify-content-center">
      <div class="col-lg-5 col-md-7">
        <div class="card bg-secondary shadow border-0">
          <div class="card-body px-lg-5 py-lg-5">
            <div class="text-center text-muted mb-4">
              <small>{% raw %}{% trans "Forgotten your password? Enter your email below, and we'll send you instructions on how to reset it." %}{% endraw %}</small>
            </div>
            <form role="form" id="signup_form" method="post" action="{% raw %}{% url 'account_reset_password' %}{% endraw %}">
            {% raw %}{% if user.is_authenticated %}{% endraw %}
              <div class="alert alert-primary" role="alert">
                {% raw %}{% include "account/snippets/already_logged_in.html" %}{% endraw %}
              </div>
            {% raw %}{% endif %}{% endraw %}
              {% raw %}{% if form.non_field_errors %}{% endraw %}
                  <div class="alert alert-danger" role="alert">
                    {% raw %}{% for error in form.non_field_errors %}{% endraw %}
                      <div class="">{% raw %}{{ error }}{% endraw %}</div>
                    {% raw %}{% endfor %}{% endraw %}
                  </div>
              {% raw %}{% endif %}{% endraw %}
              {% raw %}{% csrf_token %}{% endraw %}
              <div class="form-group mb-3">
                <div class="input-group input-group-alternative {% raw %}{% if form.email.errors %}is-invalid{% endif %}{% endraw %}">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                  </div>
                  <input name='email' class="form-control" placeholder="Email" type="email" value="{% raw %}{% if form.email.value %}{{ form.email.value }}{% endif %}{% endraw %}"
                         id="{% raw %}{{ form.email.id_for_label }}{% endraw %}">

                </div>
                {% raw %}{% if form.email.errors %}{% endraw %}

                  {% raw %}{% for error in form.email.errors %}{% endraw %}
                    <div class="invalid-feedback">{% raw %}{{ error|escape }}{% endraw %}</div>
                  {% raw %}{% endfor %}{% endraw %}

                {% raw %}{% endif %}{% endraw %}
              </div>

              <div class="text-center">
                <button type="submit" class="btn btn-primary my-4">{% raw %}{% trans "Reset Password" %}{% endraw %}</button>
              </div>

            </form>
          </div>
        </div>
        <div class="row mt-3">

          <div class="col-6 text-left">
            <small>{% raw %}{% trans "Have an account" %}{% endraw %}</small>
            <a href="{% raw %}{% url "account_login" %}{% endraw %}" class="text-light">
              <small>{% raw %}{% trans "Login" %}{% endraw %}</small>
            </a>
          </div>
          <div class="col-6 text-right">
            <a href="{% raw %}{% url "account_signup" %}{% endraw %}" class="text-light">
              <small>{% raw %}{% trans "Create new account" %}{% endraw %}</small>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% raw %}{% endblock %}{% endraw %}



{% raw %}{% block inner %}{% endraw %}

    <h1>{% raw %}{% trans "Password Reset" %}{% endraw %}</h1>
    {% raw %}{% if user.is_authenticated %}{% endraw %}
    {% raw %}{% include "snippets/already_logged_in.html" %}{% endraw %}
    {% raw %}{% endif %}{% endraw %}

    <p>{% raw %}{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}{% endraw %}</p>

    <form method="POST" action="{% raw %}{% url 'account_reset_password' %}{% endraw %}" class="password_reset">
        {% raw %}{% csrf_token %}{% endraw %}
        {% raw %}{{ form|crispy }}{% endraw %}
        <input class="btn btn-primary" type="submit" value="{% raw %}{% trans 'Reset My Password' %}{% endraw %}" />
    </form>

    <p>{% raw %}{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}{% endraw %}</p>
{% raw %}{% endblock %}{% endraw %}

