{% raw %}{% extends "app/base_blank.html" %}{% endraw %}

{% raw %}{% load i18n %}{% endraw %}
{% raw %}{% load crispy_forms_tags %}{% endraw %}
{% raw %}{% load static %}{% endraw %}

{% raw %}{% block title %}{% trans "Change Password" %}{% endblock %}{% endraw %}

{% raw %}{% block content %}{% endraw %}
  <div class="header bg-gradient-primary py-7 py-lg-8">
    <div class="container">
      <div class="header-body text-center mb-7">
        <div class="row justify-content-center">
          <div class="col-lg-5 col-md-6">
            <h1 class="text-white">{% raw %}{% trans "Change Password" %}{% endraw %}</h1>
            <p class="text-lead text-light">
              {% raw %}{% trans 'Your password is now changed.' %}{% endraw %} <a href="{% raw %}{% url "app:home" %}{% endraw %}" class="text-lead text-light text-underline">{% raw %}{% trans "Account" %}{% endraw %}</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="separator separator-bottom separator-skew zindex-100">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
           xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </div>

{% raw %}{% endblock %}{% endraw %}

