{% raw %}{% extends "account/base.html" %}{% endraw %}

{% raw %}{% load i18n %}{% endraw %}
{% raw %}{% load crispy_forms_tags %}{% endraw %}

{% raw %}{% block head_title %}{% trans "Set Password" %}{% endblock %}{% endraw %}

{% raw %}{% block inner %}{% endraw %}
    <h1>{% raw %}{% trans "Set Password" %}{% endraw %}</h1>

    <form method="POST" action="{% raw %}{% url 'account_set_password' %}{% endraw %}" class="password_set">
        {% raw %}{% csrf_token %}{% endraw %}
        {% raw %}{{ form|crispy }}{% endraw %}
        <input class="btn btn-primary" type="submit" name="action" value="{% raw %}{% trans 'Set Password' %}{% endraw %}"/>
    </form>
{% raw %}{% endblock %}{% endraw %}

