{% raw %}{% extends "account/base.html" %}{% endraw %}

{% raw %}{% load i18n %}{% endraw %}
{% raw %}{% load crispy_forms_tags %}{% endraw %}
{% raw %}{% block head_title %}{% trans "Change Password" %}{% endblock %}{% endraw %}

{% raw %}{% block inner %}{% endraw %}
    <h1>{% raw %}{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}{% endraw %}</h1>

    {% raw %}{% if token_fail %}{% endraw %}
        {% raw %}{% url 'account_reset_password' as passwd_reset_url %}{% endraw %}
        <p>{% raw %}{% blocktrans %}{% endraw %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{% raw %}{{ passwd_reset_url }}{% endraw %}">new password reset</a>.{% raw %}{% endblocktrans %}{% endraw %}</p>
    {% raw %}{% else %}{% endraw %}
        {% raw %}{% if form %}{% endraw %}
            <form method="POST" action="">
                {% raw %}{% csrf_token %}{% endraw %}
                {% raw %}{{ form|crispy }}{% endraw %}
                <input class="btn btn-primary" type="submit" name="action" value="{% raw %}{% trans 'change password' %}{% endraw %}"/>
            </form>
        {% raw %}{% else %}{% endraw %}
            <p>{% raw %}{% trans 'Your password is now changed.' %}{% endraw %}</p>
        {% raw %}{% endif %}{% endraw %}
    {% raw %}{% endif %}{% endraw %}
{% raw %}{% endblock %}{% endraw %}

